/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

* {

}


/******************************************
/* LAYOUT
/*******************************************/

main  {
  display: flex;
  justify-content: center;
  border: solid 5px rgb(80, 200, 120);
  margin: 10px;
  padding: 1rem;
}

.pomoDaff {
  border: solid red 3px;
  padding: 1rem;
  width: 25rem;
  height: 30rem;

}
.pomoDaff > section  {
  display: flex;
  justify-content: center;
  border: solid darkblue 2px;
  padding: 1rem;
  margin: 1rem;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/